@inherits LayoutComponentBase
@inject SessionState Statics 
<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        @if (Statics.id_token != null)
        {
            @($"Hello {Statics.myidtoken.Payload["nickname"]}")
        }
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
