@page "/fetchdata"
@inject NavigationManager Navigation

<h1>All blog posts.</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (blogposts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Title</th>
                <th>Text</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var (id, blog) in blogposts)
            {
                <tr>
                    <td>@blog.Date.ToShortDateString()</td>
                    <td>@blog.Title</td>
                    <td><button @onclick="@(() => NavigateToCounterComponent(id))">View</button></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Dictionary<int, BlogPostURL> blogposts;

    public void NavigateToCounterComponent(int id)
    {
        Navigation.NavigateTo($"displaypage/{id}");
    }

    protected override async Task OnInitializedAsync()
    {

        // Initialize the Amazon Cognito credentials provider

        //AmazonApiGatewayV2Client apiclient = new AmazonApiGatewayV2Client(Statics.creds);
        

        string url = Statics.apiURL;
        blogposts = new Dictionary<int, BlogPostURL>();
        HttpRequestMessage hrm = new HttpRequestMessage
        {
            RequestUri = new Uri(url)
        };
        hrm.Headers.Add("Authorization", Statics.id_token);
        var hufflepuff = new HttpClient(new HttpClientHandler());
        var response = await hufflepuff.SendAsync(hrm);
        if (response.StatusCode == System.Net.HttpStatusCode.OK)
        {
            var blogstr = await response.Content.ReadAsStringAsync();
            var blogs = JsonSerializer.Deserialize<BlogPostURL[]>(blogstr);
            foreach (var b in blogs) blogposts.Add(b.Id, b);
        }
        else
        {
            Console.WriteLine($"Expected better.  {response.StatusCode} {response.ReasonPhrase} {response.RequestMessage}");
        }
    }
}
